.app-title {
    margin: 0;
    padding: 0.5rem;
    background-color: #6EC9EF;
    color: #fafafa;
}

.ant-tabs-tab {
    margin: 0 2rem;
}

.ant-tabs-tab:hover {
    color: #6EC9EF;
}

.menu-bar {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}
